*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/

.kotlin/

shared/build/

iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/daniyar.nurgaliyev.xcuserdatad/

# Ignore iOS build artifacts
iosApp/iosApp.xcodeproj/xcuserdata/daniyar.nurgaliyev.xcuserdatad/xcschemes/iosApp.xcscheme

iosApp/iosApp.xcodeproj/xcuserdata/daniyar.nurgaliyev.xcuserdatad/xcschemes/xcschememanagement.plist

iosApp/iosApp.xcodeproj/xcuserdata/daniyar.nurgaliyev.xcuserdatad/xcschemes/

iosApp/iosApp.xcodeproj/xcuserdata/daniyar.nurgaliyev.xcuserdatad/xcdebugger/
